Repository flanoapp/flano-backend, pull requests merged in 2021-04, with the labels that each got.

#4 Fix mapper to preserve thumbnails on data update
  .github/workflows/beanstalk-deploy.yml
  src/models/db/mappers/vienna_calle_libre.ts
  src/models/db/mappers/vienna_open_data.ts
Labels: bug, database, mapper

#7 [hotfix] added proper links to hotfix sharing redirect
  .github/workflows/beanstalk-deploy.yml
  .gitignore
  resources/views/redirect.handlebars
Labels: hotfix

#8 [hotfix] added redirect from /datenschutz_app to /datenschutz_app.html
  .github/workflows/beanstalk-deploy.yml
  src/routes/homepage.ts
Labels: hotfix

#9 [hotfix] added credit to peter purgathofer
  resources/website/index.html
Labels: hotfix

#11 Added datasource explanation
  resources/website/impressum_app.html
  resources/website/index.html
Labels: documentation, website

#12 Minor changes in imprint, faqs and translations
  .github/workflows/beanstalk-deploy.yml
  resources/translations/de.json
  resources/website/datenschutz.html
  resources/website/datenschutz_app.html
  resources/website/impressum_app.html
  resources/website/index.html
Labels: enhancement, website
